default: &default
  adapter: postgresql
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  encoding: unicode
  username:
  password:

development:
  <<: *default
  database: gh-api_development

test:
  <<: *default
  database: gh-api_test

production:
  <<: *default
  database: gh-api_production
